/**
 * @file 高清屏 1px 边框解决方案
 * @author: wind-stone<wind-stone@qq.com>
 */

@import './core.styl'

// 边框默认颜色
$defaultBorderColor = rgba(0, 0, 0, .08)

// 全边框
retina-border-all(borderStyle = solid, borderColor = $defaultBorderColor, borderRadius = 0)
  retina-border(1px, borderStyle, borderColor, borderRadius)
.retina-border-all
  retina-border-all()

// 上边框
retina-border-top(borderStyle = solid, borderColor = $defaultBorderColor, borderRadius = 0)
  retina-border(1px 0 0, borderStyle, borderColor, borderRadius)
.retina-border-top
  retina-border-top()

// 右边框
retina-border-right(borderStyle = solid, borderColor = $defaultBorderColor, borderRadius = 0)
  retina-border(0 1px 0 0, borderStyle, borderColor, borderRadius)
.retina-border-right
  retina-border-right()

// 下边框
retina-border-bottom(borderStyle = solid, borderColor = $defaultBorderColor, borderRadius = 0)
  retina-border(0 0 1px, borderStyle, borderColor, borderRadius)
.retina-border-bottom
  retina-border-bottom()

// 左边框
retina-border-left(borderStyle = solid, borderColor = $defaultBorderColor, borderRadius = 0)
  retina-border(0 0 0 1px, borderStyle, borderColor, borderRadius)
.retina-border-left
  retina-border-left()
